.App {
    text-align: left;
    font-size: larger;
    max-width: 300px;
    padding: 15px;
    margin: 10px 10px;
}

.done {
    color: lightgray;
    text-decoration: line-through;
    background-color: lightsalmon;
    max-width: 350px;
    margin-left: 50px;
}

.yeah {
    max-width: 300px;
    color: lightgreen;
    background-color: cornflowerblue;
    margin-left: 20px;
}

.flexer {
    display: flex;
    flex-direction: column;
}

.myInput {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}